@CHARSET "UTF-8";

body{
	margin:0;
	padding:0;
}
#background{
	background-image:url(../../images/banner2.png);
	max-width:1920px;
	min-height:2000px;
	background-repeat:no-repeat;
	z-index:-5;
	position:relative;
}
#logoGoHome{
	position:absolute;
	left:833px;
	width:255px;
	height:255px;
	z-index:3;
	cursor:pointer;
}