@CHARSET "UTF-8";

	#bannerContainer{
		background-image:url(../../images/bannerPPP.jpg);
		max-width:1920px;
		min-height:900px;
		background-repeat:no-repeat;
		z-index:-5;
		position:relative;
	}
	#logoGoHome{
		position:absolute;
		top:30px;
		left:833px;
		width:255px;
		height:255px;
		z-index:3;
		cursor:pointer;
	}
	#celebrationImg{
		background-image:url(../../images/celebration.png);
		width:574px;
		height:304px;
		position:absolute;
		z-index:5;
		top:500px;
		left:674px;
	}
	#returnPage{
		background-image:url("../../images/submit.png");
		background-repeat:no-repeat;
		position:absolute;
		width:128px;
		height:46px;
		left:896px;
		background-color:transparent;
		border:0;
		z-index:6;
		top:830px;
	}