@CHARSET "UTF-8";
	#bannerContainer{
		background-image:url(../../images/bannerPPP.jpg);
		max-width:1920px;
		min-height:1210px;
		background-repeat:no-repeat;
		z-index:-5;
		position:relative;
	}
	#logoGoHome{
		position:absolute;
		top:30px;
		left:833px;
		width:255px;
		height:255px;
		z-index:3;
		cursor:pointer;
	}
    #caseOfLogin{
    	width:629px;
    	height:396px;
    	left:646px;
    	top:533px;
    	position:absolute;
    }
    #letterLogin{
    	width:118px;
    	height:48px;
    	left:255px;
    	top:-28px;
    	font-size:65px;
    	position:relative;
    	color:#FF9999;
    }
    #divID{
    	width:629px;
    	height:54px;
    	top:26px;
    	position:relative;
    }
    #loginId{
    	width:153px;
    	height:54px;
    	font-size:46px;
    	text-align:right;
    	color:#FF9999;
    	float:left;
    }
    #insertFormId{
    	width:298px;
    	height:54px;
    	float:left;
    	left:20px;
    	position:relative;
    	color:#FF9999;
    }
    .textForm{
    	width:298px;
    	height:43px;
    	background-color:#FF9999;
    	border:0;
    	margin-top:5px;
    	font-size:25px;
    	padding-left:20px;
    	outline:0;
    	color:white;
    }
    .btnDiv{
    	width:118px;
    	height:53px;
    	float:right;
    	margin-left:20px;
    }
    #loginBtn{
    	width:118px;
    	height:49px;
    	background-image:url(../../images/loginBtn.png);
    	background-repeat: no-repeat;
    	border:none;
    	cursor:pointer;
    	position:relative;
    	top:3px;
    	background-color:transparent;
    	background-size:contain;
    	outline:0;
    }
    #divPwd{
    	width:629px;
    	height:54px;
    	position:relative;
    	top:26px;
    }
    #loginPwd{
    	width:145px;
    	height:54px;
    	font-size:46px;
    	color:#FF9999;
    	float:left;
    	text-align:right;
    }
     #insertFormPwd{
    	width:298px;
    	height:54px;
    	float:left;
    	left:28px;
    	position:relative;
    }
    #joinBtn{
    	width:118px;
    	height:49px;
    	background-image:url(../../images/joinBtn.png);
    	background-repeat: no-repeat;
    	border:none;
    	cursor:pointer;
    	position:relative;
    	top:3px;
    	background-color:transparent;
    	background-size:contain;
    	outline:0;
    }
    #snsLogo{
    	width:629px;
    	height:70px;
    	top:43px;
    	margin-top:30px;
    	margin-bottom:30px;
    	position:relative;
    }
    #facebook{
    	width:70px;
    	height:70px;
    	background-image:url(../../images/facebook.png);
    	background-size:contain;
    	outline:0;
    	border:0;
    	cursor:pointer;
    	left:219px;
    	position:relative;
    	background-color:transparent;
    }
    #kakao{
    	width:70px;
    	height:70px;
    	background-image:url(../../images/kakao.png);
    	background-size:contain;
    	border:0;
    	outline:0;
    	cursor:pointer;
    	float:right;
    	right:183px;
    	position:relative;
    	background-color:transparent;
    }
    #findIdNpwdDiv{
    	width:629px;
    	height:49px;
    	top:53px;
    	position:relative;
    }
    #findIdNpwd{
    	width:337px;
    	height:49px;
    	border:0;
    	background-image:url(../../images/findIdNPwd.png);
    	cursor:pointer;
    	left:168px;
    	position:relative;
    	background-color:transparent;
    	background-size:contain;
    	background-repeat: no-repeat;
    	outline:0;
    }
