@CHARSET "UTF-8";

	#bannerContainer{
		background-image:url(../../images/bannerPPP.jpg);
		max-width:1920px;
		min-height:900px;
		background-repeat:no-repeat;
		z-index:-5;
		position:relative;
	}
	#logoGoHome{
		position:absolute;
		top:30px;
		left:833px;
		width:255px;
		height:255px;
		z-index:3;
		cursor:pointer;
	}
	#sendEmailImg{
		background-image:url(../../images/sendEmail.png);
		width:204px;
		height:94px;
		background-size: cover;
		position:absolute;
		z-index:5;
		top:680px;
		left:1150px;
	}
	#secMsg{
		font-size:35px;
		color:#FF9999;
		text-align:center;
		z-index:7;
		margin-top:-200px;
	}
	#goIndex{
		width:128px;
		height:46px;
		position:absolute;
		top:800px;
		left:896px;
		background-size: cover;
	}
	#goIndex input{
		background-image:url(../../images/submit.png);
		width:128px;
		height:46px;
		border:0;
		background-color:transparent;
	}
	#alertMsg{
		width:500px;
		height:70px;
		font-size:70px;
		color:#ED8080;
		text-align:center;
		position:absolute;
		left:710px;
		z-index:10;
		margin-top:-350px;
	}